node_modules/
build/
cdk.out/
storybook.out/
styleguide.out/
coverage/
oss-attribution/
temp/

.cache/
.vscode/
.idea/

LICENSE-THIRD-PARTY
package-lock.json
.DS_Store

*.log
*.swo
*.swp

CODECOMMIT_SOURCE_VERSION
