{
    branches: [
                {name: 'main'},
                {name: 'next', channel: 'next'}
            ],
    "plugins": [
        ["@semantic-release/commit-analyzer", {
            "preset": "angular",
            "releaseRules": [
                {"type": "docs", "scope": "README", "release": "patch"},
                {"type": "feat", "release": "patch"},
                {"type": "style", "release": "patch"}
            ]
        }],
        "@semantic-release/release-notes-generator",
        ["@semantic-release/changelog", {
            "changelogFile": "CHANGELOG.md",
        }],
        ["@semantic-release/npm", {
            "pkgRoot": "./build",
        }],
        ["@semantic-release/exec", {
            "successCmd": "RELEASED_VERSION=${nextRelease.version} ./scripts/postRelease.sh"
        }],
        ["@semantic-release/git", {
            "assets": ["CHANGELOG.md"],
        }],
        ["@semantic-release/github", {
            "assets": ["CHANGELOG.md"],
        }]
    ]
}